.menubuttons {


}

.navbuttons {
    display: inline-flex;
    justify-content: flex-end;
    height: 78px;
}

.root {
    display: flex;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttton {
    width: 50%;
}

.picker {
    width: 100% !important;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
}

.addColor {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.colorNameInput {
    width: 100%;
    height: 70px;

}

DrawerHeader {
    align-items: center;
    display: flex;
}